
* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  background-color: white;
}

.my-nav {
  margin: 0;
  padding: 0;
  display: flex;
  }

.my-nav li {
  padding: 0.5em 0 0.5em 1em;
}

#bio {
  display: flex;
  flex-direction: column;
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 0.75em;
}
