
body {
  font-family: helvetica;
  box-sizing: border-box;
  text-align: center;

}

ul {
  display: inline-block;
}

li {
  list-style-type: none;
  font-family: 'Pacifico', cursive;
}
#bio h1 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;

}

a {
  text-decoration: none;
  text-align: center;
}

header {
  background-color: white;
}

.ruby {
  max-width: 10rem;
  max-height: 50px;
}

.js {
  max-width: 10rem;
  max-height: 50px;
}

.htmlcss {
  max-width: 10rem;
  max-height: 60px;
}

.my-nav {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  }

.my-nav li {
  padding: 0.5em 0 0.5em 1em;
}

#bio {
  display: flex;
  flex-direction: column;
  padding-left: 300px;
  padding-right: 300px;
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 0.75em;
}
